

@font-face {
  font-family: 'OpenSans-regular';
  src: url('../../assets/fonts/OpenSans-Regular.ttf') format('ttf');
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../../assets/fonts/OpenSans-SemiBold.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-bold';
  src: url('../../assets/fonts/OpenSans-Bold.ttf') format('ttf');
  font-style: normal;
}

