$color-default: #172B4D;
$color-primary: #5e72e4;
$color-secondary: #8392AB;
$color-text: #172B4D;
$color-info: #11CDEF;
$color-success: #2DCE89;
$color-danger: #F5365C;
$color-warning: #FB6340;
$color-body: #ffffff;
$color-gray: #E9ECEF;

$color-primary-hover: #495ed4;

$OpenSans-regular: 'OpenSans-regular', sans-serif;
$OpenSans-bold: 'OpenSans-bold', sans-serif;
$OpenSans-SemiBold: 'OpenSans-SemiBold', sans-serif;

$radius-md: 15px;
$spacing-md: 2rem;

$font-xlg: 24px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;