@use "../base/variables" as var;

.data-source {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var.$color-body;
  border-radius: var.$radius-md;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  font-family: var.$OpenSans-regular;
  color: var.$color-text;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    font-size: var.$font-lg;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  &__controls {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__control-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    font-size: var.$font-sm;
    font-weight: 500;
    color: var.$color-text;
  }

  &__input {
    width: 50px;
    padding: 0.5rem;
    border: 1px solid var.$color-gray;
    border-radius: 8px;
    font-size: var.$font-sm;
    color: var.$color-text;
    font-family: var.$OpenSans-regular;
    outline: none;

    &:focus {
      border-color: var.$color-primary;
      box-shadow: 0 0 0 2px rgba(var.$color-primary, 0.2);
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &-input {
      accent-color: var.$color-primary;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &-label {
      font-size: var.$font-sm;
      color: var.$color-text;
    }
  }

  &__button {
    background-color: var.$color-primary;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    font-size: var.$font-xs;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 2px 6px 0px #00000040;
    font-family: var.$OpenSans-SemiBold;
    text-transform: uppercase;
    width: 140px;

    &:hover {
      background-color: var.$color-primary-hover;
    }

    &--generate {
      margin-left: auto;
    }

    &--clear {
      background-color: var.$color-primary;
      color: var.$color-body;
      text-transform: capitalize;
      width: 90px;

      &:hover {
        background-color: var.$color-primary-hover;
      }
       &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 10px;
        background-image: url("/img/trash.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 1rem 0;
    border: 1px solid var.$color-gray;
  }

  &__stat {
    text-align: center;

    &-title {
      display: block;
      font-size: var.$font-md;
      color: var.$color-primary;
      font-weight: 500;
    }

    &-value {
      font-size: var.$font-xlg;
      font-weight: 600;
      color: var.$color-text;
      padding: 10px 0;
    }
  }
  &__text{
    font-family: var.$OpenSans-regular;
    font-weight: 400;
    font-size:var.$font-sm;
    color: #212529;

  }
  &__text-box {
    min-height: 226px;
    border: 1px solid var.$color-gray;
    border-radius: 8px;
    padding: 1rem;
  }

  &__placeholder {
    color: var.$color-secondary;
    margin: 6rem 0;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
  .divider{
    background: var.$color-gray;
    width: 1px;
    border: none;
    margin: 0 20px;
  }
}
