@use "../base/variables" as var;

.word-chart {
      width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var.$color-body;
    border-radius: var.$radius-md;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    font-family: var.$OpenSans-regular;
    color: var.$color-text;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__title {
        font-size: var.$font-lg;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 1rem;
    }

    &__empty {
        text-align: center;
    }
    &__empty-text {
        font-family: var.$OpenSans-SemiBold;
        font-weight: 700;
        font-size: 14px;
        span{
            color: #ADB5BD;
        }
    }
}